{% extends 'admins/adminmain.html' %}
{% load static %}

{% block admincontent %}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Messages</h4>
               
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title m-b-0">Messages Details</h5>
                    </div>
                    <table class="table">
                          <thead>
                            <tr>
                             
                              <th scope="col">Store Name</th>
                              <th scope="col">Date</th>
                              <th scope="col">Message</th>
          
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in msg %}
                            <tr>
                           
                              <td>{{ i.store }}</td>
                              <td>{{ i.dates }}</td>
                              <td>{{ i.msg }}</td>
                              <td>
                                
                                <a href="?del={{ i.id }}" class="btn btn-danger btn-sm">Remove</a></td>
                            {% endfor %}
                          </tbody>
                    </table>
                </div>
                <div class="card">
                    
                    <div class="border-top">
                        
                    </div>
                </div>
                <div class="card">
                    
                    <div class="border-top">
                        
                    </div>
                </div>

            </div>
            
        </div>
        <!-- editor -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>

{% endblock admincontent%}